* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.cf:before,
.cf:after {
  display: table;
  content: "";
  clear: both;
}

.logo {
  float: left;
}

.logo p {
  font-size: 50px;
  color: white;

  font-weight: bold;
}

.logo span {
  display: inline-block;
  color: #fd9727;
  border: 4px solid white;
  border-right: none;
}

header {
  height: 1000px;
  background: url("images/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

nav ul {
  float: right;
}

nav ul li {
  float: left;
  list-style-type: none;
  padding: 5px 20px;
  margin-top: 18px;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.heading-container {
  position: relative;
}

.heading-container button {
  background-color: #1c70b1;
  padding: 10px 30px;
  position: absolute;
  top: 100%;
  left: 45%;
  border-radius: 30px;
  font-size: 16px;
  color: white;
  border: none;
  margin-top: 20px;
}

h1 {
  color: white;
  font-size: 75px;
  font-weight: normal;
  margin: 500px auto;
  text-align: center;
}

.who-we-are {
  width: 80%;
  margin: 0 auto;
}

.line-break {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.line-break h2 {
  font-size: 40px;
  font-weight: 500;
  position: relative;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  width: 30%;
}
.line-break .cube {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  left: 50%;
  bottom: 5px;
  background-color: whitesmoke;
  transform: rotate(45deg);
}

.who-we-are article {
  width: 30%;
  float: left;
}

.who-we-are article img {
  width: 80%;
  height: 80%;
}

.who-we-are article:nth-child(2) {
  margin-right: 30px;
  margin-left: 30px;
}

.who-we-are article h4 {
  color: #53a2e0;
  font-size: 25px;
}

.who-we-are article p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.6;
}

.who-we-are article ul li {
  list-style-position: inside;
  list-style-image: url("images/arrow_bullet.png");
  line-height: 1.6;
}

.what-people-says {
  margin: 100px auto 0px auto;
}

.what-people-says article {
  width: 30%;
  background-color: #82c3f5;
  float: left;
  margin: 10px;
  margin-bottom: 150px;
  padding: 30px 30px;
}

.what-people-says article:nth-child(2) {
  margin-right: 30px;
  margin-left: 30px;
}

.what-people-says article .name-wrapper {
  width: 50%;
  float: right;

  margin: 30px auto;
  margin-right: 120px;
}

.what-people-says article img {
  border: 2px solid white;
  border-radius: 100%;
  height: 100px;
}

.what-people-says .name-wrapper > p {
  font-weight: bold;
}

.what-people-says article > p {
  color: white;
}

.get-in-touch-with-us iframe {
  width: 100%;
  height: 600px;
}

.contact-us-container h5 {
  width: 80%;
  margin: 70px auto 10px auto;
  font-size: 26px;
  color: white;
  text-align: center;
}
.contact-us-container li {
  list-style-position: inside;
  list-style-image: url(images/rsz_phone-131964784943439862.png);
  color: white;
}

.contact-us-container li.mail {
  list-style-image: url(images/rsz_afa7f20b64c59e9588b5b7b035234eae.png);
}
.contact-us-container article {
  height: 250px;
  float: left;
  background-color: yellow;
  width: 25%;
  margin: 0;
}
.contact-us-container article.green {
  background-color: #3bdd9a;
}
.contact-us-container article.green .links-wrap {
  text-align: center;
}
.contact-us-container article.red {
  background-color: #fd5282;
}
.contact-us-container article.red .center-images {
  margin: 20px auto;
  text-align: center;
}

.contact-us-container article.red img {
  width: 30px;
  height: 30px;
}

.contact-us-container article.blue {
  background-color: #376de4;
}
.contact-us-container article.blue ul {
  text-align: center;
}
.contact-us-container article.little-home {
  background-color: #82c3f5;
  text-align: center;
}

form {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
form input {
  width: 250px;
  height: 40px;
  margin: 20px 20px;
  padding: 0 5px;
}
form textarea {
  width: 840px;
  padding: 10px 10px;
}
form input.submit {
  width: 100px;
  background-color: #fd9727;
  border: none;
  color: white;
}
footer {
  background-color: #212121;
  height: 200px;
}

footer ul {
  width: 64%;
  float: right;
  margin: 50px auto 20px auto;
  list-style-type: none;
}
footer ul li {
  padding: 5px 20px;
  float: left;
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

footer p {
  width: 58%;
  float: right;
  margin: 20px auto;
  color: white;
}

@media all and (max-width: 1200px) {
  .heading-container button {
    left: 42%;
  }

  .line-break h2 {
    font-size: 30px;
  }

  .who-we-are {
    width: 100%;
    margin: 0 auto;
  }

  .who-we-are article {
    width: 46%;
    float: left;
  }

  .who-we-are article img {
    width: 80%;
  }

  #treci-artikl {
    margin-left: 20px;
  }

  .what-people-says {
    margin-left: auto;
    margin-right: auto;
  }

  .what-people-says article {
    width: 44%;
    margin-bottom: 20px;
  }

  .get-in-touch-with-us {
    margin-top: 50px;
  }

  #selena-gomez {
    margin-left: 27px;
  }

  .contact-us-container article {
    height: 250px;
    float: left;
    background-color: yellow;
    width: 50%;
    margin: 0;
  }

  form input {
    width: 150px;
    height: 40px;
    margin: 20px 20px;
    padding: 0 5px;
  }

  form textarea {
    width: 540px;
    padding: 10px 10px;
  }

  .contact-us-container {
    width: 100%;
    margin: 0 auto;
  }

  footer ul {
    width: 100%;
    float: none;
    margin: 50px auto 20px auto;
    text-align: center;
    padding-top: 50px;
  }

  footer ul li {
    float: none;
    display: inline-block;
    padding: 5px 10px;
  }

  footer p {
    display: inline-block;
    width: 100%;
    float: none;
    margin: 20px auto;
    color: white;
    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .line-break h2 {
    width: 80%;
    font-size: 40px;
  }

  .line-break .cube {
    width: 20px;
    height: 20px;
    bottom: -1px;
  }

  .logo {
    float: none;
    width: 100%;
    height: 340px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    padding: 20px 50px;
  }
  .logo p {
    color: #777777;
  }

  .logo span {
    border: 7px solid #777777;
    border-right: none;
  }

  nav {
    text-align: center;
    margin-left: 25px;
  }

  nav ul {
    width: 95%;
    float: none;
    background-color: #7fc2f7;
    text-align: center;
    margin-top: -200px;
  }

  nav ul li {
    float: none;
    list-style-type: none;
    padding: 10px 20px;
    margin-top: 2px;
  }

  h1 {
    font-size: 32px;
    margin-top: 300px;
  }

  .heading-container button {
    left: 41%;
  }

  .who-we-are article {
    width: 98%;
    float: left;
    margin-bottom: 30px;
  }

  .who-we-are article p {
    line-height: 2;
  }

  .who-we-are article img {
    display: block;
    width: 95%;
    margin-left: 24px;
  }

  .who-we-are article:nth-child(2) {
    margin-right: 30px;
    margin-left: 30px;
    width: 90%;
  }

  .what-people-says article {
    width: 93%;
    margin-bottom: 20px;
  }
  .what-people-says article p {
    font-size: 28px;
  }

  #jennifer-lopez {
    margin-left: 26px;
  }

  .iframe iframe {
    height: 350px;
  }

  form {
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin-left: 0;
    margin-right: 0;
  }

  form input {
    width: 95%;
    height: 40px;
    padding: 0 5px;
    margin: 20px 0;
  }

  form textarea {
    width: 95%;
    padding: 10px 10px;
    margin-left: auto;
  }
}
